{% extends "base.html" %}

{%block main%}
<div class="container">
    <section class="page-search">
        <h1 class="page-title">Название аттракциона</h1>
    </section>
    <section class="attraction">
        <div class="attraction-block">
            <div class="attr-text hui">
                <p class="staff-text hui">Ответсвенный сотрудник</p>
                <p class="attr-info">hgvkdfjhgdkfjgh ssdfhsdihf</p>
            </div>
            <div class="attr-text">
                <p class="min-height-text">Минимальный рост (см)</p>
                <p class="attr-info">{{133}}</p>
            </div>
            <div class="attr-text">
                <p class="max-height-text">Максимальный рост (см)</p>
                <p class="attr-info">{{155}}</p>
            </div>
            <div class="attr-text">
                <p class="capacity-text">Вместимость (чел)</p>
                <p class="attr-info">{{250}}</p>
            </div>
            <div class="attr-text">
                <p class="duration-text">Продолжительность (сек)</p>
                <p class="attr-info">{{330}}</p>
            </div>
            <a href="#" class="red">
                <div class="red-button">
                    <p class="red-text">Редактировать</p>
                    <img src="../static/images/red-img.svg" alt="next" class="red-img">
                </div>
            </a>
        </div>
    </section>
</div>
{%endblock%}