{% extends "base.html" %}
{% load static %}
{%block main%}
<div class="container">
    <section class="page-search">
        <h1 class="page-title">{{ attraction.name }}</h1> 
    </section>
    <section class="attraction">
        <!-- вопрос длинны блока(вылезают данные) -->
        <div class="attraction-block">
            <div class="attr-text">
                <p class="staff-text">Ответственный сотрудник</p>
                {% if attraction.staff %}
                <p class="attr-info">{{ attraction.staff.name }} {{ attraction.staff.surname }}</p>
                {% else %}
                <p class="attr-info">Не назначен</p>
                {% endif %}
            </div>
            <div class="attr-text">
                <p class="min-height-text">Минимальный рост (см)</p>
                <p class="attr-info">{{ attraction.min_height|default:"Не указано" }}</p>
            </div>
            <div class="attr-text">
                <p class="max-height-text">Максимальный рост (см)</p>
                <p class="attr-info">{{ attraction.max_height|default:"Не указано" }}</p>
            </div>
            <div class="attr-text">
                <p class="capacity-text">Вместимость (чел)</p>
                <p class="attr-info">{{ attraction.sourceity }}</p>
            </div>
            <div class="attr-text">
                <p class="duration-text">Продолжительность (мин)</p>
                <p class="attr-info">{{ attraction.duration_minutes|default:"Не указано" }}</p>
            </div>
            <div class="attr-text">
                <p class="min-age-text">Минимальный возраст</p>
                <p class="attr-info">{{ attraction.min_age|default:"Не указано" }}</p>
            </div>
            <div class="attr-text">
                <p class="activity-text">Статус активности</p>
                <p class="attr-info">{% if attraction.activity_status %}Активен{% else %}Неактивен{% endif %}</p>
            </div>
            <a href="{% url 'attractions' %}" class="red">
                <div class="red-button">
                    <p class="red-text">Назад к списку</p>
                    <img src="{% static 'images/red-img.svg' %}" alt="next" class="red-img">
                </div>
            </a>
        </div>
    </section>
</div>
{%endblock%}