{% extends "base.html" %}
{% load static %}

{%block main%}
<div class="container">
    <section class="page-search">
        <h1 class="page-title">Аттракционы</h1>
        <form class="search" action="{% url 'attractions' %}" method="get">
            <div class="search-container">
                <input class="search-input" type="text" name="query" value="{{ search_query }}" placeholder="Поиск по названию или сотруднику...">
                <button type="submit" class="search-button">Найти</button> 
            </div>
            <img src="{% static 'images/add.svg' %}" alt="добавить" class="add">
        </form>
        
        {% if search_query %}
        <div class="search-results-info">
            <p>Результаты поиска для: "{{ search_query }}"</p>
            <a href="{% url 'attractions' %}" class="clear-search">Показать все</a>
        </div>
        {% endif %}
    </section>
    <section class="attractions-menu">
        {% for attraction in attractions_list %} 
        <div class="block">
            <div class="block-img">
                {% if attraction.main_image %}
                <img src="{{ attraction.main_image.url }}" alt="{{ attraction.name }}" class="img-one">
                {% else %}
                <img src="{% static 'images/img-one.jpg' %}" alt="placeholder" class="img-one">
                {% endif %}
            </div>
            <h3 class="name-attraction">{{ attraction.name }}</h3>
            <div class="staff">
                <p class="staff-text">Ответственный сотрудник:
                    {% if attraction.staff %}
                    {{ attraction.staff.name }} {{ attraction.staff.surname }}
                    {% else %}
                    Не назначен
                    {% endif %}
                </p>
            </div>
            <a href="{% url 'attraction_detail' pk=attraction.pk %}" class="red">
                <div class="red-button">
                    <p class="red-text">Подробнее</p>
                    <img src="{% static 'images/red-img.svg' %}" alt="next" class="red-img">
                </div>
            </a>
        </div>
        {% empty %}
        <p>
            {% if search_query %}
            Аттракционы по запросу "{{ search_query }}" не найдены.
            {% else %}
            Аттракционы не найдены.
            {% endif %}
        </p>
        {% endfor %}
    </section>
</div>
{%endblock%}