<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-inner">
                <a href="#" class="link-logo">
                    <img src="logo.svg" alt="логотип" class="logo">
                </a>
                <a href="#" class="link-name">
                    <h2 class="name">Парк аттракционов Мир Мечты</h2>
                </a>
                <nav class="menu">
                    <ul class="menu-list">
                        <li>
                            <a href="#">Аттракционы</a>
                        </li>
                        <li>
                            <a href="#">Билеты</a>
                        </li>
                        <li>
                            <a href="#">Пользователи</a>
                        </li>
                        <li>
                            <a href="#">Сотрудники</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>