{% extends "base.html" %}
{% load static %}
{%block main%}
<div class="container">
    <section class="page-search">
        <h1 class="page-title">Билеты</h1>
        <form class="search" action="/search" method="get">
            <div class="search-container">
                <input class="search-input" type="text" name="query">
                <button type="submit" class="search-button">Найти</button>
            </div>
            <img src="{% static 'images/add.svg' %}" alt="добавить" class="add">
        </form>
<!-- сделать фильтрацию -->
<!-- поменять порядок вывода билетов -->
        <div class="ticket-filters">
            {% for type in ticket_types %}
            <div class="filter-option">
                <input type="checkbox" id="{{ type.name|slugify }}" name="ticket-type" value="{{ type.name }}" class="hidden-checkbox">
                <label for="{{ type.name|slugify }}" class="ticket-btn">{{ type.name }}</label>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="tickets-menu">
        
        {% for ticket in tickets_list %}
        <div class="ticket-card">
            <h3 class="card-header">{{ ticket.user.name }} {{ ticket.user.surname }}</h3>
            <div class="ticket-info">
               <h3 class="ticket-type">{{ ticket.ticket_type.name }}</h3> 
               <h3 class="ticket-id">№ {{ ticket.id }}</h3> 
            </div>
            
            <div class="ticket-dates">
               <p class="date-text">Куплен: {{ ticket.purchase_date|date:"d.m.Y H:i" }}</p>
               {% if ticket.valid_until %}
               <p class="date-text">Действителен до: {{ ticket.valid_until|date:"d.m.Y" }}</p>
               {% else %}
               <p class="date-text">Бессрочный</p>
               {% endif %}
            </div>

            <a href="#" class="details-ticket">
                <div class="details-button">
                    <p class="details-text">Подробнее</p>
                </div>
            </a>
        </div>
        {% endfor %}

    </section>
</div>
{%endblock%}